= simple_form_for @dependent_mirror, url: create_dependent_path(@ticket), method: :post, validate: true, remote: true do |f|
  = f.input :name
  = f.input :cpf, input_html: { class: 'cpf'}
  = f.input :rg
  = f.input :rg_org
  = f.input :rg_uf_id
  = f.input :born, as: :string, input_html: { class: 'date' }
  = f.input :gender
  = f.input :place_birth
  = f.input :civil_state_id
  = f.input :income
  = f.input :kinship_id
  = f.input :co_acquirer, as: :select, include_blank: false
  = f.input :percentage
  = f.input :special_condition_id
  = f.input :cid
  = f.input :nis

  .big-divider
  .column.text-center
    = f.submit "Cadastrar dependente", class: 'ui button yellow'
    = link_to "Cancelar", dependents_path(@ticket), class: 'ui button gray'
  