= simple_form_for @dependent_mirror, url: @ticket.confirmation_required?(@action) ? "#" : ticket_dependents_path(@ticket, @dependent_mirror), validate: true do |f|
  = f.input :name, input_html: { disabled: true, disabled: @ticket.input_disabled?(@action) }
  = f.input :cpf, input_html: { class: 'cpf', disabled: @ticket.input_disabled?(@action) }
  = f.input :rg, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :rg_org, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :born, as: :string, input_html: { class: 'date', value: f.object.born.present? ? localize(f.object.born) : nil,  disabled: @ticket.input_disabled?(@action) }
  = f.association :kinship, include_blank: false, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.association :special_condition, include_blank: false, input_html: { disabled: @ticket.input_disabled?(@action) }
  .big-divider
  = f.submit "Salvar dados", class: 'ui button green fluid', data: { disable_with: "Salvando aguarde..."}