.ui.grid
  .two.wide.mobile.column
    %a{href: "#{new_ticket_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização de dependentes
    .sub-title Listagem de dependentes

.big-divider
.ui.grid.container
  .column.content-form
    - if @ticket.closed?(@action)
      .text-center
        %p
          %h2 Dados #{@action.situation.name.pluralize}
        %p
          %i.icon.checkmark.huge.green
      .big-divider
    %table.ui.celled.table
      %tbody
        - if @cadastre_mirror.dependent_mirrors.present?
          - @cadastre_mirror.dependent_mirrors.order(:name).each do |mirror|
            %tr
              %td
              %td
                .content
                  - if mirror.name.present?
                    %small
                      %i Toque para visualizar os dados
                    %br/
                    %b= link_to mirror.name, ticket_dependent_path(@ticket, mirror), remote: true
                  - else
                    %b= link_to "Sem nome", ticket_dependent_path(@ticket, mirror), remote: true
                  .sub.header
                    %small
                      = mirror.kinship.name rescue "Sem parentesco"
                      |
                      = mirror.born.strftime("%d/%m/%Y") rescue "Sem informação"
                      |
                      = mirror.special_condition.name rescue ''
                  .sub.header
                    - if !@ticket.input_disabled?(@action)
                      = link_to "editar", edit_ticket_dependent_path(@ticket, mirror), class: 'ui button blue mini'
                      - if @ticket.disable_remove_spouse(mirror)
                        = link_to "remover", ticket_dependent_path(@ticket, mirror), class: 'ui button red mini', method: :delete
                      = link_to "Enviar documentação", new_ticket_action_document_path(@ticket, @action, dependent_id: mirror.id), class: 'ui button green mini'
        - else
          %tr
            %td
            %td.text-center
              %i Nenhum dependente cadastrado
.ui.grid.container
  .column.text-center
    - if @ticket.confirmation_required?(@action)
      = link_to "Meus dados estão corretos", ticket_confirm_path(@ticket, @action), class: 'ui button green fluid'
      .divider
      = link_to "Atualizar meus dados", ticket_open_path(@ticket, @action), class: 'ui button yellow fluid'
    - elsif @ticket.open?(@action)
      = link_to "Adicionar dependente", new_ticket_dependent_path(@ticket), class: 'ui button blue fluid'
      .divider
      = link_to "Finalizar minha atualização", ticket_close_action_path(@ticket, @action), class: 'ui button yellow fluid', data: { disable_with: t(:disable_with)}
    - else
      = link_to "Corrigir minha atualização", ticket_open_path(@ticket, @action), class: 'ui button yellow fluid'