.ui.grid
  .one.wide.mobile.column
    %a{href: "#{ticket_path(@ticket)}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização de contatos
    .sub-title Formulário de edição de contatos

.big-divider
.ui.grid.container
  .column
    %table.ui.celled.table
      %tbody
        - @dependents.each do |dependent|
          %tr
            %td
            %td
              %h4.ui.image.header
                %i.icon{class: "#{dependent.special_condition_id == 2 ? 'handicap blue' : 'user'}"}
                .content
                  #{dependent.name.titleize}
                  .sub.header 
                    %small 
                      #{dependent.kinship.present? ? dependent.kinship.name : nil}
                      
            %td
              = link_to "Editar", edit_ticket_dependent_path(@ticket, dependent), class: 'ui button green icon mini'
              = link_to "Remover", ticket_dependent_path(@ticket, dependent), remote: true, class: 'ui button red icon mini'



