.ui.grid.container
  .column{style: 'width: 25%'}
    - if @staff.avatar?
      = link_to image_tag("#{@staff.avatar_url}", class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), '#'
    - else
      = link_to image_tag('http://www.codhab.df.gov.br/sample/avatar.jpg', class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), '#'
  .column{style: 'width: 75%'}
    .title-header
      #{@staff.hello}
      %p.mini-text
        = link_to "Toque para visualizar seu cadastro", '#'
      %p
        %span.ui.label.yellow.mini.font-black
          #{@staff.name}
.row
  .column.wide.four
    .big-divider

.divider
.ui.three.column.grid.container.black
  .column
    .ui.segment.text-center
      %a{href: "#"}
        %i.icon.calendar.huge.gray
    .text-center
      Monitoramento
  .column
    .ui.segment.text-center
      %a{href: "#{person.vocations_path}"}
        %i.icon.plane.huge
    .text-center
      Férias
  .column
    .ui.segment.text-center
      %a{href: "#{person.allowances_path}"}
        %i.icon.thumbs.outline.up.huge
    .text-center
      Abono
