.ui.grid.container
  .column{style: 'width: 25%'}
    - if @staff.avatar?
      = link_to image_tag("#{@staff.avatar_url}", class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), '#'
    - else
      = link_to image_tag('http://www.codhab.df.gov.br/sample/avatar.jpg', class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), '#'
  .column{style: 'width: 75%'}
    .title-header
      #{@staff.hello}
      %p.mini-text
        = link_to "Toque para visualizar seu cadastro", '#'
      %p
        %span.ui.label.yellow.mini.font-black
          #{@staff.name}
.row
  .column.wide.four
    .big-divider

.divider
.ui.three.column.grid.container.black
  .column
    .ui.text-center
      %a{href: "#"}
        -# %i.icon.calendar.huge.gray
        = image_tag ('/images/meeting.png')
    .text-center
      Monitoramento
  .column
    .ui.text-center
      %a{href: "#{person.vocations_path}"}
        -# %i.icon.plane.huge
        = image_tag ('/images/plane-ticket.png')
    .text-center
      Férias
  .column
    .ui.text-center
      %a{href: "#{person.allowances_path}"}
        -# %i.icon.thumbs.outline.up.huge
        = image_tag ('/images/thumbs-up.png')
    .text-center
      Abono
  .column
    .ui.text-center
      %a{href: "#{person.wallets_path}"}
        -# %i.icon.home.outline.up.huge
        = image_tag ('/images/house.png')
    .text-center
      Carteira Imobiliária
  .column
    .ui.text-center
      %a{href: "/sistema-imoveis"}
        -# %i.icon.home.outline.up.huge
        = image_tag ('/images/skyscrapper.png')
    .text-center
      Sistema de imóveis
  .column
    -if Core::Attendance::Attendant.where(staff_id: current_user.id).present?
      -if @panic.present?
        -if @panic.panic == false
          .ui.text-center
            %a{href: "#{person.new_panic_path}", data: { remote: true}}
              -# %i.icon.home.outline.up.huge
              = image_tag ('/images/warning.png')
          .text-center
            CHAMAR A CODHAB
        -else
          .ui.text-center
            %a{href: "#{person.panic_stop_path(id: @panic.id)}", data: { remote: true}}
              -# %i.icon.home.outline.up.huge
              = image_tag ('/images/warning-y.png')
          .text-center
            CANCELAR SOLICITAÇÃO
      -else
        .ui.text-center
          %a{href: "#{person.new_panic_path}", data: { remote: true}}
            -# %i.icon.home.outline.up.huge
            = image_tag ('/images/warning.png')
        .text-center
          CHAMAR A CODHAB
