= simple_form_for @cadastre, url: ticket_contact_path(@ticket, @cadastre), method: :put, validate: true, remote: true do |f|
  = f.input :telephone, input_html: { class: 'phone'}
  = f.input :telephone_optional, input_html: { class: 'phone'}
  = f.input :celphone, input_html: { class: 'phone'}
  = f.input :email
  = f.input :address
  = f.association :city, include_blank: false, collection: CoreAttendance::Address::City.federal_district
  = f.association :state, include_blank: false, label_method: :acronym
  = f.input :cep, input_html: { class: 'cep'}
  .big-divider
  .column.text-center
    = f.submit "Atualizar dados de contato", class: 'ui button yellow fluid'
    .divider
    = link_to "Cancelar", "#", class: 'ui button gray fluid'
 
  