= simple_form_for @cadastre_mirror, url: "#" do |f|
  = f.input :telephone, input_html: { class: 'phone', disabled: true}
  = f.input :telephone_optional, input_html: { class: 'phone', disabled: true}
  = f.input :celphone, input_html: { class: 'phone', disabled: true}
  = f.input :email, input_html: { disabled: true}
  = f.input :address, input_html: { disabled: true}
  = f.association :city, include_blank: false, collection: Core::Address::City.federal_district, input_html: { disabled: true}
  = f.association :state, include_blank: false, label_method: :acronym, input_html: { disabled: true}
  = f.input :cep, input_html: { class: 'cep', disabled: true}
  
  .column.text-center
    - if @context.aberto?
      = link_to "Meus dados estão corretos", recadastre_ticket_context_contact_confirm_path(@ticket, @context, @cadastre_mirror), class: 'ui button green fluid', data: { disabled_with: t(:disabled_with)}
      .divider
      = link_to "Atualizar Meus Dados", edit_recadastre_ticket_context_cadastre_path(@ticket, @context, @cadastre_mirror), class: 'ui button yellow fluid'
