.two.wide.mobile.column
  %a{href: "#{attendance.custom_custom_tickets_path}"}
    %i.big.arrow.left.icon
.thirteen.wide.mobile.column.text-center
  .title-header Atendimento
  .sub-title Atualização de dependentes
  .divider
.ui.grid.container
  - if !(@ticket.documents.where(document_type_id: 6).count >= @dependents.count)
    .ui.label.red.fluid{style: 'text-align: center'} Etapa pendente
    %br
    %p{style: 'text-align: justify'}
      Inclua ou remova os dependentes de acordo com a sua realidade atual.
      %br
      %br
      Para retirada de cônjuges, faz-se necessário a solicitação via requerimento eletrônico no próprio aplicativo.
      Saiba quem pode ser seu dependente
      %a{href: 'http://www.codhab.df.gov.br/pagina/2', target: '_blank'}
        clique aqui.

  %table.ui.table
    %tbody
      - @dependents.each do |dependent|
        %tr
          %td= link_to dependent.name, edit_custom_custom_ticket_custom_dependent_path(@ticket, dependent.id)
          %td
            = dependent.kinship.name rescue nil
            - if dependent.kinship_id != 6
              %br
              %br
              = link_to "Remover", custom_custom_ticket_custom_dependent_path(@ticket, dependent.id), method: :delete, class: 'ui button red tiny'
  %br
  - if !@ticket.action_two
    = link_to "Adicionar dependente", new_custom_custom_ticket_custom_dependent_path(@ticket), class: 'ui button blue fluid'
  %br
  - if @ticket.allow_dependents
    = link_to "Finalizar etapa", custom_custom_ticket_dependent_path(@ticket), class: 'ui button yellow fluid', disabled: true
