.ui.grid
  .two.wide.mobile.column
    %a{href: "#{allotments_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Selagens
    .sub-title
      %p #{@allotment.name}
      #{@unit.address}
.big-divider
.ui.container-fluid
  .ui.grid
    %h4
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            %tr
              %td
                - if @unit.checks.present?
                  = link_to "<i class='ui pencil icon'></i>".html_safe, edit_allotment_unit_check_path(@allotment, @unit, @unit.checks.last), class: 'ui button green icon tiny'
                - else
                  = link_to "<i class='ui pencil icon'></i>".html_safe, new_allotment_unit_check_path(@allotment, @unit), class: 'ui button green icon tiny'
                Dados do morador
                %hr/
              - if @unit.checks.present?
                - @unit.checks.each do |check|
                  %td
                    %p
                      %b Nome:
                      %br/
                      = check.name
                    %p
                      %b CPF:
                      %br/
                      = check.cpf
                    %p
                      %b Data de nascimento:
                      %br/
                      = check.born.strftime("%d/%m/%Y") rescue nil
                    %p
                      %b Telefone:
                      %br/
                      = check.telephone
              - else
                %td
                  %i Morador não identificado
  .ui.grid
    %h4
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            %tr
              %td Imagens
              %td
                = simple_form_for url_for do |f|
                  = f.input :image, as: :file, label: false
                %hr/
              - @unit.check_images.each_with_index do |image, index|
                %td= link_to "Visualizar imagem #{index + 1}", "#", style: 'color: black'
