.ui.grid
  .two.wide.mobile.column
    %a{href: "#{attendance.new_context_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Minhas atualizações
    .sub-title Resumo de atualizações
.big-divider
.ui.grid.container-fluid
  .column
    %table.ui.celled.table
      %tbody.black
        - @tickets.order('created_at DESC').each do |ticket|
          %tr
            %td
              %h4.ui.image.header
                %i.small.refresh.icon.gray
                .content
                  %a{href: "#{ticket_path(ticket)}"}
                    = ticket.ticket_context.name.humanize
                  .sub.header
                    = ticket.ticket_status.name.humanize
                    %small
                      %p
                        %i= ticket.created_at.strftime("%d/%m/%Y - %H:%M")