.ui.grid
  .one.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Cadastral
    .sub-title Protocolo #{@ticket.protocol}

  - if @ticket.on_attendance?
    .sixteen.wide.column
      .ui.message.info.text-center
        %b= @ticket.situation.external_name
  .sixteen.wide.column
    %table.ui.celled.table
      %tbody.black
        %tr
          %td
            %h4.ui.image.header
              %i.icon.big{class: @ticket.icon_by_action_context(1)}
              .content
                = link_to "Atualização de dados básicos", ticket_update_cadastre_path(@ticket)
                .sub.header
                  #{@ticket.situation_by_action_context(1)}
        %tr
          %td
            %h4.ui.image.header
              %i.icon.big{class: @ticket.icon_by_action_context(2)}
              .content
                = link_to "Atualização de dependentes", ticket_update_dependent_path(@ticket)
                .sub.header
                  #{@ticket.situation_by_action_context(2)}
        %tr
          %td
            %h4.ui.image.header
              %i.icon.big{class: @ticket.icon_by_action_context(3)}
              .content
                = link_to "Atualização de renda", ticket_update_income_path(@ticket)
                .sub.header
                  #{@ticket.situation_by_action_context(3)}
        %tr
          %td
            %h4.ui.image.header
              %i.icon.big{class: @ticket.icon_by_action_context(4)}
              .content
                = link_to "Atualização de dados de contato", ticket_update_contact_path(@ticket)
                .sub.header
                  #{@ticket.situation_by_action_context(4)}
     
  - if !@ticket.on_attendance?            
    .sixteen.wide.column
      .ui.raised.segment
        %a.ui.red.ribbon.label.bold Importante
        %span
          %br/
          %br/
          .text-justify
            = @ticket.confirmation_text
        .divider
        - if @ticket.allow_close?
          = link_to @ticket.close_text, ticket_close_path(@ticket), class: "ui button green fluid"
        - else
          = link_to @ticket.close_text, "#", class: "ui button green fluid disabled"
  - else
    .sixteen.wide.column
      .ui.raised.segment
        %a.ui.blue.ribbon.label.bold Interações (#{@ticket.comments.count})
        %span
          .text-justify
          - @ticket.comments.each do |comment|
            .divider
            %span
              %a.ui.orange.right.ribbon.label= comment.created_at.strftime("%d/%m/%Y %H:%M")
            %span
              .divider
              %p= comment.message