.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Cadastral
    .sub-title Protocolo #{@ticket.protocol}

  - if @ticket.on_attendance? && (!current_cadastre.cadastre_convocations.where(status: true).present? || !(current_cadastre.cadastre_convocations.where(status: true).last.convocation_id == 1679))
    .sixteen.wide.column
      .ui.message.info.text-center
        %b= @ticket.situation.external_name
  .sixteen.wide.column
    %table.ui.celled.table
      %tbody.black
        - if @ticket.action_allow? && ![12,13].include?(@ticket.cadastre.program_id)
          %tr
            %td
              %h4.ui.image.header
                %i.icon.big{class: @ticket.icon_by_action_context(1)}
                .content
                  - if @ticket.on_attendance?
                    = link_to "Atualização de dados básicos", '#'
                    .sub.header
                      Em análise (CODHAB)
                  - else
                    = link_to "Atualização de dados básicos", ticket_update_cadastre_path(@ticket)
                    .sub.header
                      #{@ticket.situation_by_action_context(1)}
                      - @action = @ticket.actions.find_by(context_id: 1) rescue nil
                      - if @action.present? && (@ticket.situation_id == 1 && @action.situation_id == 2 && @ticket.comments.present?)
                        %br
                        %br
                        = link_to "Revisar documentação", ticket_continue_cadastre_path(@ticket, @action), class: 'ui button blue tiny', style: 'color: white !important'

        - if @ticket.action_allow? && ![12,13].include?(@ticket.cadastre.program_id)
          %tr
            %td
              %h4.ui.image.header
                %i.icon.big{class: @ticket.icon_by_action_context(2)}
                .content
                  - if @ticket.on_attendance?
                    = link_to "Atualização de dependentes", '#'
                    .sub.header
                      Em análise (CODHAB)
                  - else
                    = link_to "Atualização de dependentes", ticket_update_dependent_path(@ticket)
                    .sub.header
                      #{@ticket.situation_by_action_context(2)}
                      - @action = @ticket.actions.find_by(context_id: 1) rescue nil
                      - if @action.present? && (@ticket.situation_id == 1 && @action.situation_id == 2 && @ticket.comments.present?)
                        %br
                        %br
                        = link_to "Revisar documentação", ticket_update_dependent_path(@ticket), class: 'ui button blue tiny', style: 'color: white !important'

        - if @ticket.action_allow?  && ![12,13].include?(@ticket.cadastre.program_id)
          %tr
            %td
              %h4.ui.image.header
                %i.icon.big{class: @ticket.icon_by_action_context(3)}
                .content
                  - if @ticket.on_attendance?
                    = link_to "Atualização de renda", "#"
                    .sub.header
                      Em análise (CODHAB)
                  - else
                    = link_to "Atualização de renda", ticket_update_income_path(@ticket)
                    .sub.header
                      #{@ticket.situation_by_action_context(3)}
                      - @action = @ticket.actions.find_by(context_id: 2) rescue nil
                      - if @action.present? && (@ticket.situation_id == 1 && @action.situation_id == 2 && @ticket.comments.present?)
                        %br
                        %br
                        = link_to "Revisar documentação", ticket_update_income_path(@ticket), class: 'ui button blue tiny', style: 'color: white !important'

        %tr
          %td
            %h4.ui.image.header
              %i.icon.big{class: @ticket.icon_by_action_context(4)}
              .content
                - if @ticket.on_attendance?
                  = link_to "Atualização de dados de contato", "#"
                  .sub.header
                    Em análise (CODHAB)
                - else
                  = link_to "Atualização de dados de contato", ticket_update_contact_path(@ticket)
                  .sub.header
                    #{@ticket.situation_by_action_context(4)}

  .sixteen.wide.column
    .ui.raised.segment
      %a.ui.blue.ribbon.label.bold Interações (#{@ticket.comments.count})
      %span
        .text-justify
        - if @ticket.comments.present?
          - @ticket.comments.each do |comment|
            .divider
            %span
              %a.ui.orange.right.ribbon.label= comment.created_at.strftime("%d/%m/%Y %H:%M")
            %span
              .divider
              %p= comment.message
        - else
          .divider
            .text-center
              %p
                %i Nenhuma mensagem registrada.
  - if !@ticket.on_attendance? && (!current_cadastre.cadastre_convocations.where(status: true).present? || !(current_cadastre.cadastre_convocations.where(status: true).last.convocation_id == 1679))
    .sixteen.wide.column
      .ui.raised.segment
        %a.ui.red.ribbon.label.bold Importante
        %span
          %br/
          %br/
          .text-justify
            = @ticket.confirmation_text
        .divider
        - if @ticket.allow_close?
          = link_to @ticket.close_text, ticket_close_path(@ticket), class: "ui button green fluid", data: { disable_with: t(:disable_with)}
        - else
          = link_to @ticket.close_text, "#", class: "ui button green fluid disabled"
