.ui.grid
  .two.wide.mobile.column
    %a{href: "#{attendance.tickets_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Protocolo X
    .sub-title Resumo de solicitação de atualização
.big-divider
.ui.grid.container-fluid
  .row
    .column
      %table.ui.celled.table
        %thead
          %tr 
            %td.text-center 
              %h4 Detalhamento
        %tbody
          %tr 
            %td
              %b Nº do atendimento
              %p #{@ticket.id}
            %td 
              %b Tipo de atendimento
              %p #{@ticket.ticket_context.name.humanize}
            %td 
              %b Criado em 
              %p #{@ticket.created_at.strftime('%d/%m/%Y às %H:%M')}
  .row
    .column
      %table.ui.celled.table
        %thead
          %tr 
            %td.text-center 
              %h4 Interações / Mensagens (#{@ticket.ticket_comments.count})
        %tbody
          - if @ticket.ticket_comments.present?
            - @ticket.ticket_comments.each do |message|
              %tr
                %td
          - else
            %tr
              %td 
              %td.text-center 
                %i Nenhuma mensagem para mostrar.