.ui.grid
  .two.wide.mobile.column
    %a{href: "#{attendance.tickets_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Minhas atualizações
    .sub-title Detalhamento de atualização
.ui.container
  %table.ui.celled.table
    %thead
      %tr
        %th
          %h3 Protocolo: #{@ticket.protocol}
    %tbody
      %tr
        %td
          %h4.ui.image.header
            .content
              %h4 #{@ticket.context.name.humanize}
              Situação da atualização
              .sub.header
                #{@ticket.situation.external_name}
                %p
                  %small
                    #{@ticket.created_at.strftime("%d/%m/%Y - %H:%M")}

  - @ticket.actions.each do |action|
    .ui.raised.segment
      %a.ui.yellow.ribbon.label #{action.context.name.humanize}
      %p
        %small
          Criado em #{action.created_at.strftime("%d/%m/%Y - %H:%M")}
      %p
        %b Situação
        %br/
        #{action.situation.external_name.humanize}

      %p
        %b Documentos enviados
        %br/
        - if action.uploads.present?
          - action.uploads.each_with_index do |upload, index|
            %p.black= link_to "Visualizar arquivo #{index + 1}", upload.document_url, target: '_blank'
        - else
          %i Nenhum documento enviado.
