= f.object.inspect
%fieldset
  .ui.buttons
    %label.button-file-upload.ui.button.fluid.mini{class: f.object.document? ? 'green' : 'gray'}
      - if f.object.document_url.to_s.present?
        %span
          Documento enviado
      - else
        %span
          Toque para inserir um documento

      - if f.object.persisted?
        = f.input :document, as: :file, label: false, input_html: { onchange: 'validate_file(this);', class: "inline", disabled: true}
      - else
        = f.input :document, as: :file, label: false, input_html: { onchange: 'validate_file(this);', class: "inline inputfile", data: { destroy: f.object.disable_destroy }}
    = f.input :target_id, as: :hidden
    = f.input :target_model, as: :hidden
    = f.hidden_field :_destroy
    - if f.object.persisted?
      = link_to "<i class='remove icon'></i>".html_safe, '#', class: "remove_fields ui button black icon inline disabled"
    - else
      = link_to "<i class='remove icon'></i>".html_safe, '#', class: "remove_fields ui button black icon inline #{f.object.disable_destroy ? 'disabled' : ''}"
.divider