.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Formulários
    .sub-title Listagem de Formulários
.ui.grid.container
  .column
    %table.ui.celled.table
      %tbody.black
        = link_to "DECLARAÇÃO DE ATIVIDADE INFORMAL", "http://www.codhab.df.gov.br/uploads/archive/files/24bee9f7e03675ed8151b4a31a53e355.pdf"
        %br
        = link_to "DECLARAÇÃO DE UNIÃO ESTÁVEL", "http://www.codhab.df.gov.br/uploads/archive/files/6182ae854098e52a34d7efb0c09ed3d5.pdf"
        %br
        = link_to "DECLARAÇÃO NEGATIVA DE UNIÃO ESTÁVEL", "http://www.codhab.df.gov.br/uploads/archive/files/464a505cdbda5c2203ba3a53e8ae9f75.pdf"
        %br
        = link_to "DECLARAÇÃO DE DISSOLUÇÃO DE UNIÃO ESTÁVEL", "http://www.codhab.df.gov.br/uploads/archive/files/51269a47412f684ae01921b39f13a6b6.pdf"
        %br
        = link_to "DECLARAÇÃO OCUPACAO MANSA E PACIFICA", "http://www.codhab.df.gov.br/uploads/archive/files/4962e754e6d684e5b71a9bf34daaf2e0.pdf"
        %br
        = link_to "DECLARAÇÃO DE NÃO PROPRIEDADE", "http://www.codhab.df.gov.br/uploads/archive/files/5a52074ab470ac8e087e13a883c43b19.pdf"
        %br
        = link_to "CONTROLE DE DOCUMENTAÇÃO INICIAL", "http://www.codhab.df.gov.br/uploads/archive/files/b4483e3978288d6fbc50c09f0bf52af0.pdf"
