.ui.grid.container
  .column{style: 'width: 25%'}
    - if current_cadastre.avatar?
      = link_to image_tag("#{current_cadastre.avatar_url}", class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), cadastre_path(current_cadastre)
    - else
      = link_to image_tag('http://www.codhab.df.gov.br/sample/avatar.jpg', class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), cadastre_path(current_cadastre)
  .column{style: 'width: 75%'}
    .title-header
      #{current_cadastre.hello}
      %p.mini-text
        = link_to "Toque para visualizar seu cadastro", cadastre_path(current_cadastre)
      %p
        %span.ui.label.yellow.mini.font-black
          #{current_cadastre.current_situation_name}
.ui.grid.container
.divider
.ui.three.column.grid.container.black
  .column
    .ui.segment.text-center
      - if current_cadastre.notifications.unread.present?
        .floating.ui.red.label{style:"top: -0.8em; left: 100%;"}
          = current_cadastre.notifications.unread.count
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.alarm.huge.gray
    .text-center
      Notificações
  - if @ticket_policy.allow_other_update?
    .column
      .ui.segment.text-center
        %a{href: "#{attendance.new_ticket_path(context_id: 5)}"}
          %i.icon.edit.huge
      .text-center
        Atualizar Meus Dados
  - if @ticket_policy.allow_regularization_update?
    .column
      .ui.segment.text-center
        %a{href: "#{attendance.new_ticket_path(context_id: 4)}"}
          %i.icon.edit.huge
      .text-center
        Atualizar Meus Dados
  - if @ticket_policy.allow_able_update?
    .column
      .ui.segment.text-center
        %a{href: "#{attendance.new_ticket_path(context_id: 3)}"}
          %i.icon.edit.huge
      .text-center
        Atualizar Meus Dados
  - if @ticket_policy.allow_recadastre_update?
    .column
      .ui.segment.text-center.semantic-black
        %a{href: "#{attendance.new_ticket_path(context_id: 1)}"}
          %i.icon.retweet.huge.gray.yellow
      .text-center
        Atualização Cadastral
  /- if @ticket_policy.allow_convoked_update?
  /  .column
  /    .ui.segment.text-center
  /      %a{href: "#{attendance.new_ticket_path(context_id: 2)}"}
  /        %i.icon.checkmark.huge
  /    .text-center
  /      Habilitação
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.tickets_path}"}
        %i.icon.refresh.huge.gray
    .text-center
      Minhas Atualizações
  - if @ticket_policy.allow_chats?
    .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "right"} }
      .ui.segment.text-center
        %a{href: "#{attendance.chats_path}"}
          %i.icon.comment.outline.huge.gray.text-center
      .text-center
        Minhas Conversas
  .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
    .ui.segment.text-center
      %a{href: "#{attendance.requeriments_path}"}
        %i.icon.file.text.outline.huge.gray.text-center.text-center
    .text-center
      Meus Requerimentos
  - if @ticket_policy.allow_to_manifestation? 
    .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
      .ui.segment.text-center
        %a{href: "#{attendance.open_doors_path}"}
          %i.icon.building.huge.gray.text-center.text-center
      .text-center
        Portas abertas

  - if @ticket_policy.allow_to_question?
    .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
      .ui.segment.text-center
        %a{href: "#{attendance.new_form_path(form_id: 6)}"}
          %i.icon.help.circle.outline.huge.gray.text-center.text-center
      .text-center
        Questinário