.ui.grid.container
  .column{style: 'width: 25%'}
    = link_to image_tag('/images/no-avatar.jpg', class: 'ui mini circular image big-yellow-border'), cadastre_path(current_cadastre)
  .column{style: 'width: 75%'}
    .title-header 
      #{current_cadastre.hello}
      %p.mini-text
        %i Toque para visualizar seu cadastro
      %p
        %span.ui.label.yellow.mini.font-black
          #{current_cadastre.current_situation_name}


.row
  .column.wide.four
    .big-divider

.divider
.ui.three.column.grid.container.black
  .column
    .ui.segment.text-center
      - if current_cadastre.attendance_notifications.unread.present?
        .floating.ui.red.label{style:"top: -0.8em; left: 100%;"}
          = current_cadastre.attendance_notifications.unread.count 
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.alarm.big.gray
    .text-center.bold
      Notificações
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.new_ticket_path}"}
        %i.icon.edit.big.gray
    .text-center.bold
      Atualizar Meus Dados
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.tickets_path}"}
        %i.icon.refresh.big.gray
    .text-center.bold
      Minhas Atualizações
  .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "right"} }
    .ui.segment.text-center
      %a{href: "#{attendance.chats_path}"}
        %i.icon.comment.outline.big.gray.text-center.bold
    .text-center.bold
      Meus Chats
  .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
    .ui.segment.text-center
      %a{href: "#{attendance.requeriments_path}"}
        %i.icon.file.text.outline.big.gray.text-center.bold.text-center.bold
    .text-center.bold
      Meus Requerimentos
  .column
    .ui.segment.text-center
      %a{href: "#"}
        %i.icon.shopping.bag.big.gray.bold
    .text-center.bold
      Serviços