.ui.grid.container
  .column{style: 'width: 25%'}
    - if current_cadastre.avatar?
      = link_to image_tag("#{current_cadastre.avatar_url}", class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), cadastre_path(current_cadastre)
    - else
      = link_to image_tag('http://www.codhab.df.gov.br/sample/avatar.jpg', class: 'ui mini circular image big-yellow-border custom-avatar-tiny '), cadastre_path(current_cadastre)
  .column{style: 'width: 75%'}
    .title-header
      #{current_cadastre.hello}
      %p.mini-text
        = link_to "Toque para visualizar seu cadastro", cadastre_path(current_cadastre)
      %p
        %span.ui.label.yellow.mini.font-black
          #{current_cadastre.current_situation_name}
- if @document.present?
  - if @document.rectification
    .ui.grid.container
      .column.center.aligned
        - if @document.ready_rectification
          %span.ui.label.green.medium.font-black.fluid
            %h4 Atenção!
            A retificação da sua escritura está pronta.
            = "Você pode buscá-la em: #{@document.observation_rectification}"
        - else
          %span.ui.label.yellow.medium.font-black.fluid
            %h4 Atenção!
            A retificação da sua escritura ainda não está pronta, fique atento em breve informaremos onde você pode retirá-la.
.ui.grid.container
.divider
.ui.one.column.grid.container.black
  - if params[:m].present?
    %p
      %span.ui.label.blue.medium.font-black.fluid
        = params[:m]
        
  - occurrence_solved = current_cadastre.occurrences.where(solved: false)
  - convocation = current_cadastre.cadastre_convocations.where(status: true).last
  - indication_all = current_cadastre.enterprise_cadastres.where('enterprise_id = 22')
  - indication = current_cadastre.enterprise_cadastres.where('enterprise_id not in (59,64,70,71) and inactive is not true and accepted_date is null').last
  - indication_active = current_cadastre.enterprise_cadastres.where('inactive is not true').last

  - if !occurrence_solved.present? && !indication.present? && !indication_all.present? && current_cadastre.current_situation.situation_status_id == 4 && [14,72].include?(current_cadastre.current_procedural.procedural_status_id) && (convocation.present? && convocation.convocation_id > 1524) 
    %p
      %span.ui.label.green.font-black{style: 'font-size: 16px !important; text-align: center;'}
        Você deseja manifestar interesse em participar do empreendimento 
        %br/
        %br/
        %span{style: 'font-size: 20px !important; text-align: center;'}
          Residencial Julieta?
    .ui{style: 'margin:0 auto'}
      = link_to "Sim", new_enterprise_path(cadastre_id: current_cadastre.id, acept_id: 1), class: 'ui  button green', style: 'color: white !important; font-size: 18px', data: { disable_with: 'Processandom aguarde...'}
      %span{style: 'margin-left: 30px !important'}
      = link_to "Não", new_enterprise_path(cadastre_id: current_cadastre.id, acept_id: 2), class: 'ui  button red', style: 'color: white !important; font-size: 18px', data: { disable_with: 'Processando aguarde...'}
  - if indication.present?
    %p
      %span.ui.label.green.font-black{style: 'font-size: 14px !important; text-align: center;'}
        Você foi indicado em #{indication.created_at.strftime('%d/%m/%Y') rescue nil} para o empreendimento:
        %br/
        %br/
        %b{style: 'font-size: 20px !important'} #{indication.enterprise.name rescue nil}
        %br/
        %br/
        você aceita participar?

    .ui{style: 'margin:0 auto'}
      = link_to "Sim", accept_path(id: indication.id), class: 'ui  button green', style: 'color: white !important; font-size: 18px', data: { disable_with: 'Processandom aguarde...'}
      %span{style: 'margin-left: 30px !important'}
      = link_to "Não", not_accept_path(id: indication.id), class: 'ui  button red', style: 'color: white !important; font-size: 18px', data: { disable_with: 'Processando aguarde...'}
    %br
    %p{style: 'text-align: center'}
      %br
      %b Declaro estar ciente das informações abaixo e da opção marcada referente à participação no empreendimento oferecido.
    .ui.segment{style: 'text-align: justify;font-size: 13px !important;'}
      %h2{style:'text-align: center !important'}
        %b Atenção
      %p A CODHAB informa que todo candidato que recusar um imóvel permanece na fila, com a mesma pontuação, até ser indicado para um novo empreendimento.
      %p O candidato pode fazer apenas duas recusas. Caso haja a terceira, o candidato passará para a condição de desistente do programa habitacional.
      %p No caso de candidato classificado na lista de vulneráveis, não poderá haver nenhuma recusa.
      %p OBS: As recusas passaram a ser contadas a partir de 31/03/2017.
- if (indication_active.present? && indication_active.accepted_date.present?) || !indication_active.present? || !indication.present?
  .divider
  .ui.three.column.grid.container.black
    - @convocation = current_cadastre.cadastre_convocations.select(:cadastre_id).where('convocation_id in (1683,1685,1688,1467,1671)')
    
    - if !current_cadastre.current_procedural.present? || (current_cadastre.current_procedural.present? && ![8,4].include?(current_cadastre.current_procedural.procedural_status_id))

      - if current_cadastre.program_id !=3 && (current_cadastre.id == 245419 || (current_cadastre.current_situation.present? && current_cadastre.current_situation.situation_status_id == 3))
        
        - if current_cadastre.cadastre_convocations.present? && current_cadastre.cadastre_convocations.where(status: true).present? && (![1671,1688,1685,1683,1467].include?(current_cadastre.cadastre_convocations.last.convocation_id) || Attendance::CustomTicket.where(cadastre_id: @convocation).present?)
          .column
            .ui.segment.text-center{style: 'background-color: #0892ff !important'}
              %a{href: "#{attendance.custom_custom_tickets_path}"}
                %i.icon.check.huge.gray{style: 'color: white !important'}
            .text-center
              Habilitação
          .column
            .ui.segment.text-center{style: 'background-color: #ffcb08 !important'}
              %a{href: "#{candidate.help_path}"}
                %i.icon.help.circle.huge.gray{style: 'color: white !important'}
            .text-center
              Dúvidas

    - if [12,13].include?(current_cadastre.program_id)
      - if Attendance::CustomTicket.where(cadastre_id: current_cadastre.id).where('supervisor_date is not null and attendant_date is not null and supervisor is true').present?
        .column
          .ui.segment.text-center{style: 'background-color: #1869af !important'}
            %a{href: "#{attendance.custom_custom_tickets_path}"}
              %i.icon.check.huge.gray{style: 'color: white !important'}
          .text-center
            Atualização de informações (Deferido)
      - else
        .column
          .ui.segment.text-center{style: 'background-color: #18af25 !important'}
            %a{href: "#{attendance.custom_custom_tickets_path}"}
              %i.icon.retweet.huge.gray{style: 'color: white !important'}
          .text-center
            Atualização de informações

    .column
      .ui.segment.text-center
        - if current_cadastre.notifications.unread.present?
          .floating.ui.red.label{style:"top: -0.8em; left: 100%;"}
            = current_cadastre.notifications.unread.count
        %a{href: "#{attendance.notifications_path}"}
          %i.icon.alarm.huge.gray
      .text-center
        Notificações


    -# - if current_cadastre.general.present? && current_cadastre.general.is_older && [4,54,67].include?(current_cadastre.general.situation_status_id) && current_cadastre.income.to_f <= 1800.0
    -#   .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
    -#     .ui.segment.text-center{style: 'background-color: rgb(129, 195, 65) !important'}
    -#       %a{href: "#{candidate.new_legal_rent_path}"}
    -#         %i.icon.home.huge.gray.text-center.text-center{style: 'color: white !important;'}
    -#     .text-center
    -#       Aluguel Legal

    - if (@ticket_policy.allow_other_update? || (current_cadastre.current_situation.present? && current_cadastre.current_situation.situation_status_id == 74)) && ![12,13].include?(current_cadastre.program_id)
      .column
        .ui.segment.text-center
          %a{href: "#{attendance.new_ticket_path(context_id: 5)}"}
            %i.icon.edit.huge
        .text-center
          Atualizar Meus Dados
    - if @ticket_policy.allow_regularization_update?
      .column
        .ui.segment.text-center
          %a{href: "#{attendance.new_ticket_path(context_id: 4)}"}
            %i.icon.edit.huge
        .text-center
          Atualizar Meus Dados
    - if @ticket_policy.allow_able_update?
      .column
        .ui.segment.text-center
          %a{href: "#{attendance.new_ticket_path(context_id: 3)}"}
            %i.icon.edit.huge
        .text-center
          Atualizar Meus Dados
    - if @ticket_policy.allow_recadastre_update?
      .column
        .ui.segment.text-center.semantic-black
          %a{href: "#{attendance.new_ticket_path(context_id: 1)}"}
            %i.icon.retweet.huge.gray.yellow
        .text-center
          Atualização Cadastral
    /- if @ticket_policy.allow_convoked_update?
    /  .column
    /    .ui.segment.text-center
    /      %a{href: "#{attendance.new_ticket_path(context_id: 2)}"}
    /        %i.icon.checkmark.huge
    /    .text-center
    /      Habilitação
    .column
      .ui.segment.text-center
        %a{href: "#{attendance.tickets_path}"}
          %i.icon.refresh.huge.gray
      .text-center
        Minhas Atualizações
    - if @ticket_policy.allow_chats?
      .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "right"} }
        .ui.segment.text-center
          %a{href: "#{attendance.chats_path}"}
            %i.icon.comment.outline.huge.gray.text-center
        .text-center
          Minhas Conversas
    .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
      .ui.segment.text-center
        %a{href: "#{attendance.requeriments_path}"}
          %i.icon.file.text.outline.huge.gray.text-center.text-center
      .text-center
        Meus Requerimentos
    .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
      .ui.segment.text-center
        %a{href: "#{candidate.form_path}"}
          %i.icon.file.text.outline.huge.gray.text-center.text-center
      .text-center
        Formulários
    -# - if @ticket_policy.allow_to_manifestation?
    -#   .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
    -#     .ui.segment.text-center
    -#       %a{href: "#{attendance.open_doors_path}"}
    -#         %i.icon.building.huge.gray.text-center.text-center
    -#     .text-center
    -#       Portas abertas

    - if @ticket_policy.allow_to_question?
      .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
        .ui.segment.text-center
          %a{href: "#{attendance.new_form_path(form_id: 6)}"}
            %i.icon.help.circle.outline.huge.gray.text-center.text-center
        .text-center
          Questinário

    - if @ticket_policy.allow_to_question_two?
      .column{data: { intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar ", position: "top"} }
        .ui.segment.text-center
          %a{href: "#{attendance.new_form_path(form_id: 7)}"}
            %i.icon.help.circle.outline.huge.gray.text-center.text-center
        .text-center
          Pesquisa




  - if @ticket_policy.allow_to_question_two_modal?
    .ui.modal{style: 'display: none'}
      .header.text-center
        Aviso
      .image.content
        .description
          .ui.header
          %h3.text-center
            %p Notamos que você ainda não preencheu a pesquisa.
          .text-center
            = link_to "Toque para preencher", attendance.new_form_path(form_id: 7) , class: 'ui button yellow fluid'


  :javascript
    - if current_cadastre.id != 362614
      $(document).ready(function() {
        $(".ui.modal").show();
        $(".ui.modal").modal('show')
      })
