.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Portas abertas
    .sub-title Listagem de empreendimentos
.ui.grid.container
  - if current_cadastre.policy.active_indication_present?
    .column 
      .ui.message.info
        %p
          %b Atenção
        %p
          Você possui uma manifestação ativa, não é possível realizar interesse por outro empreendimento neste momento.
.ui.grid.container
  .column 
    %table.ui.celled.table
      %tbody
        - if @projects.present?
          - @projects.each do |project|
            %tr 
              %td 
                %h4.ui.image.header
                  = project.name
              %td 
                .content
                  .sub.header
                    %p #{project.presenter.detail_name}
                  .sub.header
                    .divider
                    - if !current_cadastre.policy.active_indication_present?
                      - if !project.policy.enterprise_active_indication?(current_cadastre)
                        - if project.policy.enterprise_allow_new_indications?
                          = link_to "Participar", open_door_path(project), class: 'ui button green mini', remote: true
                        - else
                          = link_to "Limite de indicações excedido", "#", class: 'ui button gray disabled mini'
                    - if project.policy.enterprise_active_indication?(current_cadastre)
                      %label.ui.label.green Manifestação ativa
                      = link_to "Cancelar", open_door_delete_path(project), class: 'ui button red mini',remote: true

        - else 
          %tr 
            %td 
            %td.text-center 
              %i Nenhum empreendimento disponível.