.ui.grid
  .one.wide.mobile.column
    %a{href: "#{main_app.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Cadastral 
    .sub-title Protocolo ##{@ticket.protocol}
.big-divider
.ui.grid.container
  %table.ui.celled.table
    %tbody.black
      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @ticket.recadastre_icon_class(1) }
            .content
              = link_to "Atualização de Dados Básicos", new_recadastre_ticket_context_path(@ticket, context_id: 1)
              .sub.header
                = @ticket.situation_action_by_context(1)
     
      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @ticket.recadastre_icon_class(2) }
            .content
              = link_to "Atualização de Dependentes", new_recadastre_ticket_context_path(@ticket, context_id: 2)
              .sub.header
                = @ticket.situation_action_by_context(2)
                
      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @ticket.recadastre_icon_class(3) }
            .content
              = link_to "Atualização de Renda", new_recadastre_ticket_context_path(@ticket, context_id: 3)
              .sub.header
                = @ticket.situation_action_by_context(3)
      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @ticket.recadastre_icon_class(4) }
            .content
              = link_to "Atualização de Contatos", new_recadastre_ticket_context_path(@ticket,  context_id: 4)
              .sub.header
                = @ticket.situation_action_by_context(4)

.divider
.ui.grid.container
  .column
    .ui.raised.segment
      %a.ui.red.ribbon.label.bold Importante
      %span
        %br/
        %br/
        .text-justify
          Estou ciente da obrigatoriedade da atualização dos meus dados cadastrais junto à CODHAB sempre que ocorrer a necessidade de alteração de telefone, endereço, estado civil, inclusão/exclusão de dependentes ou renda. As informações cadastrais, atualizadas ou não, são de minha inteira responsabilidade e entendo que a falta dos dados corretos poderá acarretar prejuízos à minha contemplação no Programa Habita Brasília/Morar Bem.
      .divider
      - if @ticket.closed?
        %label.ui.label.green
          .text-center
            = @ticket.ticket_status.external_name.titleize
      - else
        = link_to "Finalizar Atualização", recadastre_ticket_confirm_path(@ticket), class: "ui button green fluid #{@ticket.allow_button_recadastre? ? '' : 'disabled'}"
      