= simple_form_for @requeriment, url: requeriments_path,  html: { :multipart => true } do |f|
  = f.input :description_subject, label: "Descrição da solicitação"
<<<<<<< HEAD
  = f.simple_fields_for :digital_document_forms do |builder|
    = render 'digital_document_form_fields', f: builder
  = link_to_add_fields "Adicionar arquivo", f, :digital_document_forms
=======
  
  = f.simple_fields_for :digital_documents do |builder|
    = render 'document_fields', f: builder
  = link_to_add_upload_fields "Adicionar arquivo", f, :digital_documents
>>>>>>> 0b9d96aed395698109a5567f9f013ed5b67813f7
  %br
  %br
  %br
  .column
    = f.submit "Enviar requerimento", class: 'ui button yellow fluid'
