.ui.grid
  .one.wide.mobile.column
    %a{href: "#{requeriments_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Criação de requerimento
    .sub-title Formulário de criação de renda

.big-divider
.ui.grid.container
  .column
    .ui.raised.segment
      %a.ui.yellow.ribbon.label= @requeriment.document_number ||= "Sem informação de Nº"
      %span
        .big-divider
        %h4
          %b= @requeriment.document_type.name rescue "Sem informção de tipo"
      .divider
      %p= @requeriment.description_subject
      .divider
      - if @requeriment.digital_documents.present?
        - @requeriment.digital_document_forms.each do |req|
          %i
            = link_to '<i class="attach icon large"></i>'.html_safe , req.doc_path_url, target: '_blank'

      - else
        %i Nenhum arquivo enviado
      - if @requeriment.finalized == true
        %br
        %br
        %p
          %b Parecer da CODHAB
        %p
          = @requeriment.observation
        %p
          %b Finalizado em
        %p
          = @requeriment.finalized_date.strftime('%d/%m/%Y - %H:%M') rescue nil
