.ui.grid
  .two.wide.mobile.column
    %a{href: "#{entity.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Indicação 
    .sub-title 
      Formulário de indicação
.ui.container
  %table.ui.celled.table
    %tbody
      %tr
        %td
        %td.text-center
          %h3 #{@enterprise.name}
          %hr/

          - if @indication.cadastre_id.present?
            %td.text-center
              %h4 Candidato selecionado 
              %p= @unit.cadastre.name
              %p= @unit.cadastre.cpf
              %p.ui.label.blue= @unit.cadastre.presenter.current_situation_name
              %td
                %hr/
            %td.text-center
              = link_to "Efetivar indicação", indication_confirm_path(@unit), class: 'ui button green '
              = link_to "Remover candidato", indication_cancel_path(@unit), class: 'ui button red '
              %hr/
          - else
            %td
              = simple_form_for @indication, url: indications_path(enterprise_id: @enterprise.id) do |f|
                = f.input :cpf, label: "CPF", placeholder: "Informe o CPF do candidato", input_html: { class: 'cpf'}
                - if @indication.cpf_create
                  /= link_to "Cadastrar candidato", "#", class: 'ui button blue fluid'
                  = f.submit "Indicar candidato", class: 'ui button green fluid'
                - else
                  = f.submit "Indicar candidato", class: 'ui button green fluid'
              %hr/
          - if @enterprise.candidates.present?
            %td.text-center
              %br/
              %br/
              %br/
              %b Indicações realizadas (@enterprise.candidates.count)
            %td
              - @enterprise.candidates.order('created_at DESC').each do |log|
                %tr
                  %td
                  %td
                    %p
                      %b= log.cadastre.name rescue nil
                    %p= log.cadastre.cpf  rescue nil
                    %p= log.inactive ? "Indicação inativa" : "Indicação ativa" rescue nil
                    %p= log.created_at.strftime("%d/%m/%Y %H:%M")  rescue nil