
.ui.grid
  .two.wide.mobile.column
  .thirteen.wide.mobile.column.text-center
    .title-header Sorteios
    .sub-title Listagem de sorteios
.ui.container
  %table.ui.celled.table
    %tbody.black
      %tr
        %td Sorteio 1
        %td
          = link_to "Endereços", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
          = link_to "Participantes", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
          = link_to "Sorteados", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
      %tr
        %td Sorteio 2
        %td
          = link_to "Endereços", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
          = link_to "Participantes", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
          = link_to "Sorteados", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
      %tr
        %td Sorteio 3
        %td
          = link_to "Endereços", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
          = link_to "Participantes", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
          = link_to "Sorteados", "#", class: 'ui button tiny', data: { disable_with: "Carregando..."}
