= simple_form_for @cadastre_mirror, url: "#", remote: true, validate: true do |f|
  = f.input :name, input_html: { disabled: true }
  = f.input :cpf, input_html: { class: 'cpf', disabled: true }
  = f.input :gender, as: :select, include_blank: 'false', collection: Core::Candidate::Cadastre.genders.keys, input_html: { disabled: true }
  = f.input :born, as: :string, input_html: { class: 'date', value: f.object.born.present? ? localize(f.object.born) : nil, disabled: true}
  = f.input :born_uf, as: :select, include_blank: false, collection: Core::Address::State.all.order(:acronym), label_method: :acronym, value_method: :acronym, input_html: { disabled: true }
  = f.input :rg, input_html: { disabled: true }
  = f.input :rg_org, input_html: { disabled: true }
  = f.input :rg_uf, as: :select, include_blank: false, collection: Core::Address::State.all.order(:acronym), label_method: :acronym, value_method: :acronym, input_html: { disabled: true }
  = f.input :place_birth, input_html: { disabled: true }
  = f.input :mother_name, input_html: { disabled: true }
  = f.association :special_condition, as: :select, include_blank: false, input_html: { disabled: true }
  = f.association :special_condition_type, as: :select, include_blank: "Nenhuma", input_html: { disabled: true }
  = f.input :nis, input_html: { disabled: true }
  = f.input :cid, input_html: { disabled: true }
  = f.input :adapted_property, as: :select, include_blank: false, input_html: { disabled: true }
  
  .big-divider
  .column.text-center
    - if @context.aberto?
      = link_to "Meus dados estão corretos", recadastre_ticket_context_cadastre_confirm_path(@ticket, @context, @cadastre_mirror), class: 'ui button green fluid'
      .divider
      = link_to "Atualizar Meus dados",  edit_recadastre_ticket_context_cadastre_path(@ticket, @context, @cadastre_mirror), class: 'ui button yellow fluid', data: { disabled_with: t(:disabled_with)}
