= simple_form_for url_for, remote: true do |f|
  = f.input :name
  = f.input :gender
  = f.input :cpf
  = f.input :born
  = f.input :born_uf
  = f.input :rg
  = f.input :rg_org
  = f.input :rg_uf
  = f.input :place_birth
  = f.input :arrival_df
  = f.input :telephone
  = f.input :telephone_optional
  = f.input :celphone
  = f.input :email
  = f.input :special_condition
  = f.input :cep
  = f.input :city
  = f.input :state
  = f.input :address
  = f.input :address_complement
  = f.input :income
  = f.input :main_income
  = f.input :work_cep
  = f.input :work_city
  = f.input :work_address
  = f.input :nis
  = f.input :cid
  = f.input :mother_name
  = f.input :civil_state
  = f.input :special_condition_flag
  = f.input :program
  = f.input :adapted_property
  = f.input :old_cadastre_id
  = f.input :date_old_cadastre
  = f.input :seqcad_id
  = f.input :special_dependent_count
