
.ui.label.blue.fluid
  %p{style: 'font-size: 14px !important'}
    Saiba como comprovar dependentes,
    %a{href: "javascript:void(0)", onclick: 'modal_dependents()'}
      Clique aqui.

%br
%br
.ui.segment
  %h4#nasc Certidão de Nascimento
  - unless @ticket.documents.where(document_type_id: 16).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
    .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
  = simple_form_for @document, url: custom_custom_ticket_custom_documents_path(type: 'dependent', dependent_mirror_id: params[:dependent_mirror_id], document_type_id: 16, anchor: 'nasc') do |f|
    - if @ticket.documents.where(document_type_id: 16).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      - @ticket.documents.where(document_type_id: 16).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
        = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'nasc'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

      %br/
      %br/
    - else
      %i  Nenhum arquivo enviado.
      %br/
      %br/
    %div
      %label.ui.icon.button.fluid{:for => 'document_1'}
        %i.photo.icon
        Enviar novo arquivo
      = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_1' }

- if @ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).age >= 18
  .ui.segment
    %h4#rg Documento de identificação (frente e verso)
    - unless @ticket.documents.where(document_type_id: 20).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
    = simple_form_for @document, url: custom_custom_ticket_custom_documents_path(type: 'dependent', document_type_id: 20, anchor: 'rg', dependent_mirror_id: params[:dependent_mirror_id]) do |f|
      - if @ticket.documents.where(document_type_id: 20).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
        - @ticket.documents.where(document_type_id: 20).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'rg'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %div
        %label.ui.icon.button.fluid{:for => 'document_2'}
          %i.photo.icon
          Enviar novo arquivo
        = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_2' }
        /%input#hidden-new-file{:style => "display: none", :type => "file"}/


- if @ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).age >= 14
  .ui.segment
    %h4#cpf CPF
    - unless @ticket.documents.where(document_type_id: 18).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
    = simple_form_for @document, url: custom_custom_ticket_custom_documents_path(type: 'dependent', dependent_mirror_id: params[:dependent_mirror_id], document_type_id: 18, anchor: 'cpf') do |f|
      - if @ticket.documents.where(document_type_id: 18).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
        - @ticket.documents.where(document_type_id: 18).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'cpf'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %div
        %label.ui.icon.button.fluid{:for => 'document_3'}
          %i.photo.icon
          Enviar novo arquivo
        = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_3' }

- if @ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).special_condition_id == 2
  .ui.segment
    %h4#def
      Comprovantes da deficiência declarada
    - unless @ticket.documents.where(document_type_id: 17).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
    = simple_form_for @document,url: custom_custom_ticket_custom_documents_path(type: 'dependent', document_type_id: 17, anchor: 'def', dependent_mirror_id: params[:dependent_mirror_id]) do |f|
      - if @ticket.documents.where(document_type_id: 17).present?
        - @ticket.documents.where(document_type_id: 17).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'def'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %div
        %label.ui.icon.button.fluid{:for => 'document_4'}
          %i.photo.icon
          Enviar novo arquivo
        = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_4' }


- if @ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).kinship_id == 5
  .ui.segment
    %h4#def
      Comprovantes de Tutela / Curatela
    - unless @ticket.documents.where(document_type_id: 19).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente

    = simple_form_for @document,url: custom_custom_ticket_custom_documents_path(type: 'dependent', document_type_id: 19, anchor: 'def', dependent_mirror_id: params[:dependent_mirror_id]) do |f|
      - if @ticket.documents.where(document_type_id: 19,dependent_mirror_id: params[:dependent_mirror_id]).present?
        - @ticket.documents.where(document_type_id: 19).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'def'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %div
        %label.ui.icon.button.fluid{:for => 'document_5'}
          %i.photo.icon
          Enviar novo arquivo
        = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_5' }


- if @ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).kinship_id == 1
  .ui.segment
    %h4#def
      Declaração de imposto de renda do titular (Comprovação de dependente com parentesco Pai/Mãe/Avô/Avó)
    - unless @ticket.documents.where(document_type_id: 40).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente

    = simple_form_for @document,url: custom_custom_ticket_custom_documents_path(type: 'dependent', document_type_id: 40, anchor: 'def', dependent_mirror_id: params[:dependent_mirror_id]) do |f|
      - if @ticket.documents.where(document_type_id: 40,dependent_mirror_id: params[:dependent_mirror_id]).present?
        - @ticket.documents.where(document_type_id: 40).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'def'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %div
        %label.ui.icon.button.fluid{:for => 'document_6'}
          %i.photo.icon
          Enviar novo arquivo
        = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_6' }



- if [3,2].include?(@ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).kinship_id) && (@ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).age >= 18 && @ticket.cadastre_mirror.dependent_mirrors.find(params[:dependent_mirror_id]).age < 24)
  .ui.segment
    %h4#def
      Declaração de escolaridade
    - unless @ticket.documents.where(document_type_id: 41).where(dependent_mirror_id: params[:dependent_mirror_id]).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente

    = simple_form_for @document,url: custom_custom_ticket_custom_documents_path(type: 'dependent', document_type_id: 41, anchor: 'def', dependent_mirror_id: params[:dependent_mirror_id]) do |f|
      - if @ticket.documents.where(document_type_id: 41,dependent_mirror_id: params[:dependent_mirror_id]).present?
        - @ticket.documents.where(document_type_id: 41).where(dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'def'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %div
        %label.ui.icon.button.fluid{:for => 'document_7'}
          %i.photo.icon
          Enviar novo arquivo
        = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_7' }

%br
- if @ticket.allow_dependent(params[:dependent_mirror_id])
  = link_to "Continuar atualização", custom_custom_ticket_custom_dependents_path(@ticket), class: 'ui button fluid green', style: 'font-size: 25px', data: { disable_with: 'Finalizando. Aguarde...'}
- else
  .ui.label.red{style: 'text-align: justify; font-size: 15px;'}
    %p Para prosseguir na atualização, favor enviar ao menos um 'arquivo' de cada categoria exigida acima.
// 5 ANOS DE DF
#modal_dependents.ui.modal{style: 'display: none; padding-top: 90px; padding-bottom: 90px'}
  .ui.content
    %p É necessário a apresentação do Cadastro de Pessoa Física - CPF para dependentes com idade igual ou superior a 14 anos, acrescido dos seguintes documentos, dentro do prazo de validade, conforme o caso:
    %br/

    %p a) Documento de Identidade, CNH ou passaporte brasileiro;
    %p b) Certificado de reservista; ou
    %p c) Carteira de Trabalho e Previdência Social - CTPS; ou
    %p d) Certidão de casamento ou união estável com firma reconhecida;
    %p e) Certidão de tutela ou curatela por deteminação judicial, para os que se encontrem sob esses institutos;
    %p f) Comprovante de dependência dos pais, avós ou bisavós no Imposto de Renda de Pessoa Física - IRPF do titular;


    %br

    %p{style: 'text-align: center'}
      %a.ui.button.fluid{href: 'javascript:void(0)', onclick:'close_modal();'}
        Fechar

:javascript
  function modal_dependents(){
    $("#modal_dependents").modal('show')
  }

  function close_modal() {
    $('.ui.modal').modal('hide')
  }
