
.ui.label.blue
  %p{style: 'text-align: justify; font-size: 14px !important'}
    Agora você deverá anexar TODAS as fotos das certidões dos 9 cartórios de Registros de Imóveis do DF,
    %a{href: 'javascript:void(0)', onclick: 'document_modal()'}
      Clique aqui
%br
%br
%br
- @index = 1
- 9.times do
  .ui.segment
    %h4{id: "carto#{@index}"} #{@index}º Ofício
    - unless @ticket.documents.where(document_type_id: @index + 20).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
    = simple_form_for @document, url: custom_custom_ticket_custom_documents_path(type: 'document', document_type_id: @index + 20, anchor: "carto#{@index}") do |f|
      - if @ticket.documents.where(document_type_id: @index + 20).present?
        - @ticket.documents.where(document_type_id: @index + 20).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, type: params[:type], anchor: "carto#{@index}"), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %label.ui.icon.button.fluid{:for => "document_#{@index}"}
        %i.photo.icon
        Enviar novo arquivo
      = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: "document_#{@index}" }

  - if @ticket.documents.where(document_type_id: 5).count >= 1
    = link_to "Finalizar etapa", custom_custom_ticket_dependent_path(@ticket), class: 'ui button yellow fluid', disabled: true

  - @index += 1

- if [2,7].include?(@ticket.cadastre_mirror.civil_state_id)
  .ui.segment
    %h4{id: "dep"} Certidões adicionais (opcional)
    - unless @ticket.documents.where(document_type_id: 30).present?
      .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
    = simple_form_for @document, url: custom_custom_ticket_custom_documents_path(type: 'document', document_type_id: 30, anchor: "dep") do |f|
      - if @ticket.documents.where(document_type_id: 30).present?
        - @ticket.documents.where(document_type_id: 30).each_with_index do |document, index|
          = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, type: params[:type], anchor: "dep"), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

        %br/
        %br/
      - else
        %i  Nenhum arquivo enviado.
        %br/
        %br/
      %label.ui.icon.button.fluid{:for => "document_dep"}
        %i.photo.icon
        Enviar novo arquivo
      = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: "document_dep" }

- if @ticket.allow_documents
  = link_to "Finalizar etapa", custom_custom_ticket_document_path(@ticket), class: 'ui button yellow fluid'
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
- else
  .ui.label.red{style: 'text-align: justify; font-size: 15px;'}
    %p Para finalizar esta etapa, favor enviar ao menos um arquivo de cada categoria de documentação exigida.

// 5 ANOS DE DF
#document_modal.ui.modal{style: 'display: none; padding-top: 90px; padding-bottom: 90px'}
  .ui.content
    %p Você poderá escolher um dos cartórios abaixo e requerer as 9 certidões em um só local.
    %br/

    %table.ui.table.celled.striped
      %thead
        %tr
          %th Cartório
          %th
      %tbody
        %tr
          %td Certidão do Cartório do 1º Ofício de Registro de Imóveis
          %td Ed. Venâncio 2000 - 1º Andar - Sl 140-B
        %tr
          %td Certidão do Cartório do 2º Ofício de Registro de Imóveis
          %td Ed. Venâncio 2000 - 1º Andar - Sl 140-C
        %tr
          %td Certidão do Cartório do 3º Ofício de Registro de Imóveis
          %td QS 1 Rua 210 Lt 40 Sl 915/928 Torre B - Taguating Shopping
        %tr
          %td Certidão do Cartório do 4º Ofício de Registro de Imóveis
          %td EQ 31/33 Lote 05 Ed. Consei Sl 210/2012 - Guará II.
        %tr
          %td Certidão do Cartório do 5º Ofício de Registro de Imóveis
          %td Qd 07 Lts 990/995 - 1º Andar - Setor Leste Industrial/Gama
        %tr
          %td Certidão do Cartório do 6º Ofício de Registro de Imóveis
          %td CNM 01 Bloco H, 1º Andar - Ceilândia Centro
        %tr
          %td Certidão do Cartório do 7º Ofício de Registro de Imóveis
          %td Qd 05 Área Reservada 01 Loja 01 Ed. Mirante da Serra Lj 01 - Sobradinho
        %tr
          %td Certidão do Cartório do 8º Ofício de Registro de Imóveis
          %td Av. Independência, Sala 13 Setor - Comercial Central - Planaltina
        %tr
          %td Certidão do Cartório do 9º Ofício de Registro de Imóveis
          %td Qd 12 Lt 08 - Setor Tradicional Brazlândia
    %br

    %p{style: 'text-align: center'}
      %a.ui.button.fluid{href: 'javascript:void(0)', onclick:'close_modal();'}
        Fechar

:javascript
  function document_modal(){
    $("#document_modal").modal('show')
  }

  function close_modal() {
    $('.ui.modal').modal('hide')
  }
