.ui.segment
  %h4#rg Comprovante de Renda
  - unless @ticket.documents.where(document_type_id: 15).present?
    .ui.label.red.tiny{style: 'margin-bottom: 12px'} Pendente
  = simple_form_for @document, url: custom_custom_ticket_custom_documents_path(type: 'income', document_type_id: 15, anchor: 'income', dependent_mirror_id: params[:dependent_mirror_id]) do |f|
    - if @ticket.documents.where(document_type_id: 15, dependent_mirror_id: params[:dependent_mirror_id]).present?
      - @ticket.documents.where(document_type_id: 15, dependent_mirror_id: params[:dependent_mirror_id]).each_with_index do |document, index|
        = link_to "#{index + 1} <i class='file icon'></i>".html_safe, custom_custom_image_path(document, dependent_mirror_id: params[:dependent_mirror_id], type: params[:type], anchor: 'rg'), remote: true, class: 'ui button blue icon', style: 'margin-bottom: 10px'

      %br/
      %br/
    - else
      %i  Nenhum arquivo enviado.
      %br/
      %br/
    %div
      %label.ui.icon.button.fluid{:for => 'document_1'}
        %i.photo.icon
        Enviar novo arquivo
      = f.input :attachment, as: :hidden, label: false, as: :file, input_html: { style: 'display: none', class: 'upload', id: 'document_1' }

%br
%br
  - if @ticket.documents.where(document_type_id: 15, dependent_mirror_id: params[:dependent_mirror_id]).present?
    = link_to "Continuar atualização", custom_custom_ticket_custom_incomes_path(@ticket), class: 'ui button fluid green', style: 'font-size: 25px', data: { disable_with: 'Finalizando. Aguarde...'}
  - else
    .ui.label.red{style: 'text-align: justify; font-size: 15px;'}
      %p Para realizar a finalização desta etapa, favor enviar ao menos um arquivo de cada categoria de documentaçãoe exigida.
