.ui.grid
  .one.wide.mobile.column
    %a{href: "#{main_app.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Cadastral
    .sub-title Listagem de contextos
.big-divider
.ui.grid.container-fluid
  %table.ui.celled.table
    %tbody.black
      %tr
        %td= @context.link_to_action(1)
      %tr
        %td= @context.link_to_action(2)   
      %tr
        %td= @context.link_to_action(3)
      %tr
        %td= @context.link_to_action(4)
