= simple_form_for @cadastre_mirror, url: @ticket.input_disabled?(@action) ? "#" : ticket_cadastre_path(@ticket, @cadastre_mirror) do |f|
  = f.input :name, input_html: { disabled: true }
  = f.input :cpf, input_html: { class: 'cpf', disabled: true }
  = f.input :gender, as: :select, include_blank: 'false', collection: Core::Candidate::Cadastre.genders.keys, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :born, as: :string, input_html: { class: 'date', disabled: @ticket.input_disabled?(@action), value: f.object.born.present? ? localize(f.object.born) : nil}
  = f.input :born_uf, as: :select, include_blank: false, collection: Core::Address::State.all.order(:acronym), label_method: :acronym, value_method: :acronym, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :rg, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :rg_org, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :rg_uf, as: :select, include_blank: false, collection: Core::Address::State.all.order(:acronym), label_method: :acronym, value_method: :acronym, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :place_birth, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :mother_name, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.association :special_condition, as: :select, include_blank: false, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.association :special_condition_type, as: :select, include_blank: "Nenhuma", input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :nis, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :cid, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :adapted_property, as: :select, include_blank: false, selected: false, input_html: { disabled: @ticket.input_disabled?(@action) }
  = f.input :arrival_df, as: :string, include_blank: false, input_html: { disabled: @ticket.input_disabled?(@action) , class: 'date', value: f.object.arrival_df.present? ? localize(f.object.arrival_df) : nil}
  
  .big-divider
  .column.text-center
    - if @ticket.confirmation_required?(@action)
      = link_to "Meus dados estão corretos", ticket_confirm_path(@ticket, @action), class: 'ui button green fluid'
      .divider
      = link_to "Atualizar meus dados", ticket_open_path(@ticket, @action), class: 'ui button yellow fluid'
    - elsif @ticket.open?(@action)
      .divider
      = f.submit "Salvar dados", class: "ui button green fluid", data: { disable_with: t(:disable_with)}
    - else
      = link_to "Corrigir minha atualização", ticket_open_path(@ticket, @action), class: 'ui button yellow fluid'
      .divider
      = link_to "Corrigir documentação", new_ticket_action_document_path(ticket_id: @ticket, action_id: @action), class: 'ui button blue fluid'
      .divider
      = link_to "Voltar para atualizações", new_ticket_path, class: 'ui button green fluid'