.ui.grid#custom
  - if !current_cadastre.cadastre_convocations.present? || !([1679, 1678].include?(current_cadastre.cadastre_convocations.where(status: true).last.convocation_id))
    - if @ticket.nil?
      - if [12,13].include?(current_cadastre.program_id)
        = render 'welcome_reallocation'
      - else
        = render 'welcome'
    - else
       - if ([1679, 1678].include?(current_cadastre.cadastre_convocations.where(status: true).last.convocation_id)) && @ticket.requests.present?
         = render 'ticket'
       - else 
        - if [12,13].include?(current_cadastre.program_id)
          = render 'ticket_reallocation'
        - else
          = render 'ticket'
  - else
    %p Você não possui acesso a este menu.
