.ui.grid
  .two.wide.mobile.column
    %a{href: "#{main_app.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Cadastral
    .sub-title Contextos para atualização
.big-divider
.ui.grid.container
  %table.ui.celled.table
    %tbody.black
      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @context_cadastre.present? ? 'flag blue' : 'users'}
            .content
              = link_to "Atualização de dados básicos", new_able_ticket_path(context_id: 1)
              .sub.header
                = @context_cadastre.present? ? @context_cadastre.status.humanize : "Toque para atualizar"

      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @context_dependent.present? ? 'flag' : 'users'}
            .content
              = link_to "Atualização de dependentes", new_able_ticket_path(context_id: 2)
              .sub.header
                = @context_dependent.present? ? @context_dependent.status.humanize : "Toque para atualizar"


      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @context_income.present? ? 'flag' : 'dollar'}
            .content
              = link_to "Atualização de renda", new_able_ticket_path(context_id: 3)
              .sub.header
                = @context_income.present? ? @context_income.status.humanize : "Toque para atualizar"

      %tr
        %td
          %h4.ui.image.header
            %i.icon.big{class: @context_contact.present? ? 'flag' : 'phone'}
            .content
              = link_to "Atualização de contatos", new_able_ticket_path(context_id: 4)
              .sub.header
                = @context_contact.present? ? @context_contact.status.humanize : "Toque para atualizar"
