.ui.grid
  .two.wide.mobile.column
    %a{href: "#{attendance.custom_custom_tickets_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atendimento
    .sub-title Renda
    .divider
  .ui.grid.container
    .ui.label.blue{style: 'margin-bottom: 30px'}
      %p{style: 'text-align: justify; font-size: 14px !important'}
        Vamos atualizar sua renda e de seus dependente, caso tenha. Lembramos que a renda considera é a bruta.
        %br
        %br
        Saiba quais documentos enviar,
        %a{href: 'javascript:void(0)', onclick: 'open_income()'}
          Clique aqui.
    .ui.label.blue
      %p{style: 'text-align: justify; font-size: 14px !important'}
        ATENÇÃO: O titular do cadastro ou seu dependente que possuir renda zero deverá apresentar carteira de trabalho e declaração de não obter renda.
    %table.ui.table
      %tbody
        %tr
          %td
            - if @ticket.documents.where(document_type_id: 7).present?
              %i.icon.check{style: 'color: green'}
            = link_to @cadastre_mirror.name, edit_custom_custom_ticket_custom_income_path(@ticket, @cadastre_mirror.id)
          %td= number_to_currency @cadastre_mirror.main_income
        - @cadastre_mirror.dependent_mirrors.each do |dependent|
          %tr
            %td
              - if @ticket.documents.where(document_type_id: 7, dependent_mirror_id: dependent.id).present?
                %i.icon.check{style: 'color: green'}
              = link_to dependent.name, edit_custom_custom_ticket_custom_dependent_income_path(@ticket, dependent.id)
            %td= number_to_currency dependent.income rescue nil
    %br
    - if @ticket.documents.where(document_type_id: 7).count >= @cadastre_mirror.dependent_mirrors.count && !@ticket.action_three
      = link_to "Finalizar etapa", custom_custom_ticket_income_path(@ticket), class: 'ui button yellow fluid', disabled: true

// 5 ANOS DE DF
#open_income.ui.modal{style: 'display: none;'}
  .ui.content
    %p Para comprovar a renda familiar burta de até 12 (doze) salários mínimos serão admitidos:
    %br/

    %p a) Empregado com Carteira de Trabalho assinada:
    %p Cópia das folhas em que conste a qualificação civil, a foto, o contrato de trabalho e os três últimos contracheques contendo o carimbo e CNPJ do empregador.
    %p b) Comerciante:
    %p Contrato social registrado na Junta Comercial e DECORE emitida por profissional competente; ou declaração de Imposto de Renda de pessoa Física (IRPF) com recibo de entrega.
    %p c) Servidor ou Empregado Público:
    %p os três últimos contracheques emitidos pelo órgão empregador, com carimbo de CNPJ ou com código de validação.
    %p d) Trabalhador Autônomo:
    %p DECORE emitido por profissional competente, declaração de Imposto de Renda com recbido de entrega;
    %br

    %p{style: 'text-align: center'}
      %a.ui.button.fluid{href: 'javascript:void(0)', onclick:'close_modal();'}
        Fechar

:javascript
  function open_income(){
    $("#open_income").modal('show')
  }

  function close_modal() {
    $('.ui.modal').modal('hide')
  }
