= simple_form_for @address do |f|
  = f.input :name
  = f.input :cpf, input_html: {class: 'cpf'}
  = f.input :city_id, as: :select, collection: Core::Address::City.federal_district, prompt: 'Selecione...'
  = f.input :address
  = f.input :observation, as: :text, input_html:{ rows: 2 }
  = f.input :status, as: :select, prompt: 'Selecione'
  = f.input :sub_area_id, as: :select, collection: Core::Healty::SealingSubArea.all, prompt: 'Selecione'
  = f.input :lat
  = f.input :lng
  = f.submit "Salvar dados", class: "ui button green fluid"
