= simple_form_for @address do |f|
  = f.input :name,label:'nome'
  = f.input :cpf, input_html: {class: 'cpf'}
  = f.input :city_id, as: :select, collection: Core::Address::City.federal_district,label:'Cidade', prompt: 'Selecione...'
  = f.input :address, label:'Endereço'
  = f.input :observation, as: :text,label:'Observação', input_html:{ rows: 2 }
  = f.input :status, as: :select,label:'Ativo', prompt: 'Selecione'
  = f.input :sub_area_id, as: :select, collection: Core::Healty::SealingSubArea.all,label:'Sub-Área', prompt: 'Selecione'
  = f.input :lat, label:'Latitude'
  = f.input :lng, label:'Longitude'
  = f.submit "Salvar dados", class: "ui button green fluid"
:javascript
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
          alert('Acione o seu GPS')
      }
  }

  function showPosition(position) {
    document.getElementById("sealing_address_lat").value = position.coords.latitude;
    document.getElementById("sealing_address_lng").value = position.coords.longitude;

  }
  getLocation();
  showPosition();