= simple_form_for @cadastre_mirror, url: ticket_income_path(ticket_id: @ticket, id: @cadastre_mirror, dependent: @dependent), method: :put, validate: true do |f|
  = f.input :main_income, input_html: { class: 'coin', disabled: @ticket.input_disabled?(@action)}

  = f.simple_fields_for :dependent_mirrors do |nested|
    %b= nested.label nested.object.name rescue "Sem nome"
    = nested.input :income, label: false, input_html: { class: 'coin', disabled: @ticket.input_disabled?(@action) }

  .big-divider
  .column.text-center
    - if @ticket.confirmation_required?(@action)
      = link_to "Meus dados estão corretos", ticket_confirm_path(@ticket, @action), class: 'ui button green fluid'
      .divider
      = link_to "Atualizar meus dados", ticket_open_path(@ticket, @action), class: 'ui button yellow fluid'
    - elsif @ticket.open?(@action)
      .divider
      = f.submit "Salvar dados", class: "ui button green fluid"
    - else
      = link_to "Corrigir minha atualização", ticket_open_path(@ticket, @action), class: 'ui button yellow fluid'