= simple_form_for @cadastre_mirror, url: update_income_path(@ticket), method: :put, validate: true, remote: true do |f|
  = f.input :main_income, input_html: { class: 'coin'}

  = f.simple_fields_for :income_dependet_mirrors do |b|

    %b= b.object.name
    = b.input :income, label: false, input_html: { class: 'coin'}

  .big-divider
  .column.text-center
    = f.submit "Atualizar renda", class: 'ui button yellow'
    = link_to "Cancelar", new_ticket_path, class: 'ui button gray'