.ui.grid
  .one.wide.mobile.column
    %a{href: "#{new_ticket_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização de renda
    .sub-title Formulário de atualização

.big-divider
.ui.grid.container
  .column.content-form
    = simple_form_for @mirror, url: ticket_income_path(@ticket, @mirror, dependent: @dependent) do |f|
      - if f.object.respond_to?(:main_income) 
        = f.input :main_income, input_html: { class: 'coin'}
      - else
        = f.input :income, input_html: { class: 'coin'}

      = f.submit "Atualizar renda", class: 'ui button green fluid'
