= simple_form_for @cadastre_mirror, url: "#" do |f|
  = f.input :main_income, input_html: { class: 'coin', disabled: true}

  = f.simple_fields_for :dependent_mirrors do |nested|
    %b= nested.label nested.object.name.titleize 
    = nested.input :income, label: false, input_html: { disabled: true}
  .big-divider
  .column.text-center
    - if @ticket.allow_recadastre_income?
      = link_to "Meus dados estão corretos",confirm_recadastre_ticket_incomes_path(@ticket), class: 'ui button green fluid', data: { disabled_with: t(:disabled_with)}
      .divider
      = link_to "Atualizar Meus Dados", edit_recadastre_ticket_income_path(ticket_id: @ticket, id: @ticket.cadastre_mirror_id), class: 'ui button yellow fluid'
    - else
      .big-divider
      %i.icon.checkmark.huge.green
      .divider
      .text-center
        %h3 Os dados básicos do cadastro já foram confirmados.