= simple_form_for @chat_comment, url: chat_comments_path do |f|
  = f.input :chat_category, label: "Assunto", as: :select, collection: Core::Attendance::ChatCategory.all, prompt: 'Selecione'
  = f.input :content, as: :text, label: false, input_html: { placeholder: 'Escreva aqui', rows: 3}
  = f.simple_fields_for :chat_uploads do |builder|
    = render 'chat_upload_fields', f: builder
  = link_to_add_fields "Adicionar arquivo", f, :chat_uploads
  .big-divider
  .column.text-center
    = f.submit "Enviar", class: 'ui button yellow fluid'
