= simple_form_for @chat, url: chats_path, method: :post do |f|
  = f.label "Assunto"
  = f.association :chat_category, label: false, prompt: 'Selecione'
  = f.simple_fields_for :chat_comments do |b|
    = b.input :content, as: :text, label: false, input_html: { placeholder: 'Escreva aqui', rows: 3}
  .big-divider
  .column.text-center
    = f.submit "Enviar", class: 'ui button yellow'
    = link_to "Cancelar", chats_path, class: 'ui button gray'
