.ui.grid
  .one.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Meus Chats (#{@chats.count})
    .sub-title Listagem Chats 
.big-divider
.ui.grid.container
  .column
    %table.ui.celled.table
      %tbody.black
        - @chats.order('created_at DESC').each do |chat|
          %tr
            %td
              %h4.ui.image.header
                %i.small.chat.icon.gray
                .content
                  %a{href: "#{chat_path(chat)}"}
                    #{chat.chat_category.name}
                  .sub.header
                    #{chat.created_at.strftime("%d/%m/%Y - %H:%M")}