.ui.grid
  .one.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Minhas Conversas (#{@chats.count})
    .sub-title Listagem de conversas
    .divider
    - unless @chats.present?
      = link_to "Nova Conversa", new_chat_path, class: 'ui button yellow fluid'
    - else
      = link_to "Nova Conversa", new_chat_path, class: 'ui button yellow fluid' if @chats.last.closed == true
.ui.grid.container
  .column
    - if @chats.present?
      %table.ui.celled.table
        %tbody.black
          - @chats.order('created_at DESC').each do |chat|
            %tr
              %td
                %h4.ui.image.header
                  %i.small.chat.icon.gray
                  .content
                    %a{href: "#{chat_path(chat)}"}
                      #{chat.chat_category.name rescue nil}
                      %br
                      %small
                        Quantidade de interações: #{chat.chat_comments.count}
                      .sub.header
                        #{chat.created_at.strftime("%d/%m/%Y - %H:%M")}
