.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Minhas Conversas (#{@chats.count})
    .sub-title Listagem de conversas
    .divider
.ui.grid.container
  .ui.styled.accordion
    .title
      %i.dropdown.icon
      Problema de "Aguardando Conexão"
    .content
      %p.transition.hidden A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.
    .title
      %i.dropdown.icon
      Quais são as extensões de arquivos permitidas?
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      %i.dropdown.icon
      Qual o tamanho maximo dos arquivos enviados?
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      %i.dropdown.icon
      W
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      %i.dropdown.icon
      What kinds of dogs are there?
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      %i.dropdown.icon
      What kinds of dogs are there?
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      %i.dropdown.icon
      What kinds of dogs are there?
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      %i.dropdown.icon
      What kinds of dogs are there?
    .content
      %p.transition.hidden There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
  .divider
.ui.grid.container
  .sixteen.wide.mobile.column.text-center
    .sub-title.text-center
      Minha dúvida não se encontra acima.
      .divider
  - unless @chats.present?
    = link_to "Inciar uma nova Conversa", new_chat_path, class: 'ui button yellow fluid'
  - else
    = link_to "Inciar uma nova Conversa", new_chat_path, class: 'ui button yellow fluid' if @chats.chat_closed?
.ui.grid.container
  .column
    - if @chats.present?
      %table.ui.celled.table
        %tbody.black
          - @chats.order('created_at DESC').each do |chat|
            %tr
              %td
                %h4.ui.image.header
                  - if chat.chat_comments.where(candidate_read: false, candidate: false).present?
                    %i.small.talk.icon.gray
                  - else
                    %i.small.talk.outline.icon.gray
                  .content
                    %a{href: "#{chat_path(chat)}"}
                      = "Conversa Nº:  #{chat.id}/#{chat.created_at.year}"
                      %br
                      #{chat.chat_category.name rescue nil}
                      %br
                      %small
                        Quantidade de interações: #{chat.chat_comments.count}
                      .sub.header
                        %small #{chat.created_at.strftime("%d/%m/%Y - %H:%M")}
:javascript
  $('.accordion')
    .accordion({
      selector: {
        trigger: '.title .icon'
      }
    });
