.ui.grid
  .one.wide.mobile.column
    %a{href: "#{chats_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header
      Minhas Conversas
      - if @chat.closed == false && @chat.chat_comments.last.candidate == false
        %br
        %br
        = link_to "Novo comentário", new_chat_chat_comment_path(@chat), class: 'ui button yellow fluid'
.ui.container-fluid
  .ui.grid
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            %tr
              %td
                %h3= @chat.chat_category.name rescue nil
                = @chat.created_at.strftime("%d/%m/%Y - %H:%M")
            - if @chat.closed
              %tr
                %td
                  %a.ui.red.ribbon.label
                    Conversa encerrada
                  %p
                    = @chat.close_comment
    .divider
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            - @chat_comments.order('created_at DESC').each do |comment|
              %tr
                %td
                  %small
                    - if comment.staff_id.present?
                      %a.ui.yellow.ribbon.label
                        CODHAB
                    - else
                      %a.ui.green.ribbon.label
                        Eu
                  %p
                    %small
                      .ui.label
                        = comment.created_at.strftime("%d/%m/%Y - %H:%M")
                  %p{style: 'text-align: justify'}
                    = comment.content
