.big-divider
.ui.grid.container
  .column.text-center
    .title-header
      Chats
      %small
        %p= link_to "Retonar para página de chats", chats_path
      %br
      = link_to "Novo comentário", new_chat_chat_comment_path(@chat), class: 'ui button yellow' 
.big-divider
.ui.container-fluid
  .ui.grid
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            %tr
              %td
                %h3= @chat.chat_category.name rescue nil
                = @chat.created_at.strftime("%d/%m/%Y - %H:%M")
            - if @chat.closed
              %tr
                %td
                  %h4 Chat encerrado
                  = @chat.close_comment
    .divider
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            - @chat_comments.order('created_at DESC').each do |comment|
              %tr{class: comment.candidate_read ? 'read' : 'not-read'}
                %td
                  = comment.content
                  %p
                    %small= comment.created_at.strftime("%d/%m/%Y - %H:%M")
                    %br
                    %small
                      - if comment.staff_id.present?
                        CODHAB
                      - else
                        Eu
