.ui.grid
  .one.wide.mobile.column
    %a{href: "#{chats_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header
      Minhas Conversas
      %br
      %br
      = link_to "Novo comentário", new_chat_chat_comment_path(@chat), class: 'ui button yellow fluid' if @chat.closed == false && @chat.chat_comments.last.candidate == false
.big-divider
.ui.container-fluid
  .ui.grid
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            %tr
              %td
                %h3= @chat.chat_category.name rescue nil
                = @chat.created_at.strftime("%d/%m/%Y - %H:%M")
            - if @chat.closed
              %tr
                %td
                  %h4 Chat encerrado
                  = @chat.close_comment
    .divider
    .row
      .column.segment
        %table.ui.celled.table
          %tbody
            - @chat_comments.order('created_at DESC').each do |comment|
              %tr{class: comment.candidate_read ? 'read' : 'not-read'}
                %td
                  = comment.content
                  %p
                    %small= comment.created_at.strftime("%d/%m/%Y - %H:%M")
                    %br
                    %small
                      - if comment.staff_id.present?
                        CODHAB
                      - else
                        Eu
