= simple_form_for @ticket, url:recadastre_ticket_documents_path(@ticket), method: :post, multipart: true, html: {id: 'file-validation'} do |f|
 
  .column 
    %label 
      %b Certidão de Nascimento ou de Casamento, quando for o caso (nos casos de convivência marital trazes as certidões de nascimento de ambos)
  .divider
  .column 
    = f.fields_for :rg_uploads do |builder|
      = render 'rg_upload_fields', f: builder
    = link_to_add_fields "Adicionar arquivo", f, :rg_uploads
  %hr/

  = f.submit "Enviar documentação", class: 'ui fluid green button'