.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.cadastre_path(current_cadastre.id)}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header
      Pontuações
.big.divider
.ui.container
  - if @pontuations.present?
    - @pontuations.each do |pontuation|
      .ui.styled.accordion
        .title.active
          %i.dropdown.icon
          = "Pontuação em: #{pontuation.created_at.strftime('%d/%m/%Y') rescue nil}"
        .content.active
          %table.ui.celled.table
            %tbody
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Total de Pontos
                      .description
                        = pontuation.total
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Tempo de Brasília
                      .description
                        = pontuation.bsb
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Tempo de Lista
                      = pontuation.timelist
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Dependentes
                      .description
                        = pontuation.dependent
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Renda
                      .description
                        = pontuation.income
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Membro Especial
                      .description
                        = pontuation.special_condition
  - else
    .column
      .ui.segment
        %i Candidato sem pontuação
:javascript
  $('.accordion')
    .accordion({
      selector: {
        trigger: '.title .icon'
      }
    });
