.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.cadastre_path(current_cadastre.id)}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header
      Meus Agendamentos
.big.divider
.ui.container
  - if @schedules.present?
    - @schedules.order('created_at desc').each_with_index do |schedule, i|
      .ui.styled.accordion
        %div{ class: i == 0 ? 'title active' : 'title'}
          %i.dropdown.icon
          = "Data agendada: #{schedule.date.strftime('%d/%m/%Y') rescue nil}"
        %div{ class: i == 0 ? 'content active' : 'content'}
          %table.ui.celled.table
            %tbody
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Agenda
                      .description
                        = schedule.agenda.title rescue nil
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Data agendada
                      .description
                        = schedule.date.strftime('%d/%m/%Y') rescue nil

              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Hora
                      .description
                        = schedule.hour.strftime('%H:%M') rescue nil
              %tr
                %td
                  .ui.list
                    .item
                      %a.header
                        Data do Agendamento
                      .description
                        = schedule.created_at.strftime('%d/%m/%Y') rescue nil
  - else
    .column
      .ui.segment
        %i Nenhum agendamento realizado.

:javascript
  $('.accordion')
    .accordion({
      selector: {
        trigger: '.title .icon'
      }
    });
