!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title
    %meta{:content => "LibreOffice 5.1.4.2 (Linux)", :name => "generator"}/
    %meta{:content => "Luiz Henrique Nascimento Ferreira", :name => "author"}/
    %meta{:content => "2016-12-06T13:46:00", :name => "created"}/
    %meta{:content => "2016-12-12T11:48:02.427653072", :name => "changed"}/
    %meta{:content => "14.0000", :name => "AppVersion"}/
    %meta{:content => "Hewlett-Packard Company", :name => "Company"}/
    %meta{:content => "0", :name => "DocSecurity"}/
    %meta{:content => "false", :name => "HyperlinksChanged"}/
    %meta{:content => "false", :name => "LinksUpToDate"}/
    %meta{:content => "false", :name => "ScaleCrop"}/
    %meta{:content => "false", :name => "ShareDoc"}/
    :css
      body { font-align: center !important;}
      @page { margin-left: 2.5cm; margin-right: 2.5cm; margin-top: 1.25cm; margin-bottom: 1.13cm }
      p { margin-bottom: 0.25cm; direction: ltr; line-height: 120%; text-align: justify; orphans: 2; widows: 2 }
      h6 { margin-top: 0.42cm; direction: ltr; line-height: 100%; text-align: center; orphans: 2; widows: 2; page-break-after: auto }
      h6.western { font-family: "Times New Roman", serif; font-size: 11pt }
      h6.cjk { font-family: "Times New Roman"; font-size: 11pt; so-language: pt-BR }
      h6.ctl { font-family: "Times New Roman"; font-size: 11pt }
      a:link { color: #0000ff }
  %body{:dir => "ltr", :lang => "pt-BR", :link => "#0000ff"}
    %p{:style => "margin-bottom: 0.35cm; line-height: 115%"}
    %p{:style => "margin-bottom: 0cm; line-height: 100%"}
      %br/
    %p{:style => "margin-bottom: 0cm; line-height: 100%"}
      %font{:face => "Roboto, serif"}
    %h6.western{:style => "margin-top: 0cm; margin-bottom: 0cm"}
    %p{:style => "margin-bottom: 0.35cm; line-height: 115%"}
      %font{:face => "Roboto, serif"}
        %b
          Sua manifestação de interesse foi realizada com sucesso!
    %p{:align => "justify", :style => "margin-top: 0.21cm; margin-bottom: 0cm; line-height: 115%; orphans: 0; widows: 0"}
      %font{:face => "Roboto, serif"}
    %br/
    %p{:align => "justify", :style => "margin-top: 0.21cm; margin-bottom: 0cm; line-height: 115%; orphans: 0; widows: 0"}
      %font{:face => "Roboto, serif"}
        %p Detalhamento da manifestação
        %br/
        %p
          %b Entidade:
          = @interest.entity.fantasy_name
        %p
          %b CNPJ:
          = @interest.entity.cnpj
        %p
          %b Protocolo de autenticação:
          = @interest.protocol

    %br/
    %p{:align => "justify", :style => "margin-top: 0.21cm; margin-bottom: 0cm; line-height: 115%; orphans: 0; widows: 0"}
      %font{:face => "Roboto, serif"}
        %p
          %b Endereços manifestados
        - @interest.unit_sales.order(:id).each do |unit|
          %p= "#{unit.city.name} - #{unit.address}"

    %br/
    %br/
    %br/
