= simple_form_for @voi, url: unit_vois_path(unit_id: @unit) do |f|
  = f.input :name
  = f.input :cpf, input_html: { class: 'cpf'}
  = f.input :due, as: :string, input_html: { class: 'date', value: f.object.due.present? ? localize(f.object.due) : nil}
  = f.input :origin_type_id, as: :select, collection: Core::Healty::VoiOriginType.all, prompt: 'Selecione'
  = f.input :voi_type_id, as: :select, collection: Core::Healty::VoiType.all, prompt: 'Selecione'
  = f.input :report_reason_id, as: :select, collection: Core::Healty::VoiReportReason.all, prompt: 'Selecione'
  = f.input :report, input_html: { placeholder: 'Preencha' }
  .big-divider
  .column.text-center
    = f.submit "Salvar dados", class: "ui button green fluid"
