.ui.grid.container
  .column.center.aligned
    .title-header
      Pesquisa Entidade
    .big-divider
    .content
      = simple_form_for url_for, method: :get do |f|
        = f.input :by_cnpj, label: false, input_html: { name: 'by_cnpj', class: 'cnpj'}
        .big-divider
        .column.text-center
          = f.submit "Pesquisar", class: 'ui button yellow'
    - if @cadastre.present?
      .big-divider
      %table.ui.celled.table
        %tbody
          %tr
            %td
              = "#{@cadastre.name} - #{@cadastre.fantasy_name}"
              %br
              %br
              CNPJ:
              = link_to @cadastre.cnpj, cadastre_path(id: @cadastre.id)
