.ui.grid
  .sixteen.wide.mobile.column.text-center
    .title-header
      Silga da entidade
    .sub-title nome completo da entidade
    .divider  
    .sub-title
      .ui.label.blue situação da entidade
.divider
.ui.three.column.grid.container.black
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.alarm.huge.gray
    .text-center
      Notificações
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.file.outline.huge.gray
    .text-center
      Meu cadastro
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.refresh.huge.gray
    .text-center
      Atualização de dados
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.question.huge.gray
    .text-center
      Questionários
  .column
    .ui.segment.text-center
      %a{href: "#{attendance.notifications_path}"}
        %i.icon.users.huge.gray
    .text-center
      Associados