.ui.grid
  .sixteen.wide.mobile.column.text-center
    .title-header
      #{current_entity.fantasy_name}
    .sub-title #{current_entity.name}
    .divider
    .sub-title
      .ui.label.blue #{current_entity.current_situation_name}
.divider
.ui.three.column.grid.container.black
  .column
    .ui.segment.text-center
      %a{href: "#{entity.dashboard_path(current_entity)}"}
        %i.icon.file.outline.huge.gray
    .text-center
      Meu cadastro
  .column
    .ui.segment.text-center
      %a{href: "#{entity.edit_contact_path(current_entity)}"}
        %i.icon.refresh.huge.gray
    .text-center
      Atualização de dados de contato

  / .column
  /    .ui.segment.text-center
  /      %a{href: "#{entity.indications_path}"}
  /        %i.icon.building.huge.gray
  /    .text-center
  /      Indicação
  - if current_entity.allow_accredited?
    .column
      .ui.segment.text-center
        %a{href: "#{entity.requeriments_path}"}
          %i.icon.file.huge.gray
      .text-center
        Requerimentos
  - if current_entity.allow_accredited?
    .column
      .ui.segment.text-center
        %a{href: "#{entity.chats_path}"}
          %i.icon.chat.huge.gray
      .text-center
        Conversas
  - if current_entity.allow_accredited?
    .column
      .ui.segment.text-center
        %a{href: "#{entity.new_form_path(form_id: 3)}"}
          %i.icon.question.huge.gray
      .text-center
        Questionários
  - if current_entity.allow_accredited?
    .column
      .ui.segment.text-center
        %a{href: "#{entity.entity_interests_path}"}
          %i.icon.checkmark.box.huge.gray
      .text-center
        Manifestação