.ui.grid
  .two.wide.mobile.column
    %a{href: "#{entity.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Minhas Conversas (#{@chats.count})
    .sub-title Listagem de conversas
    .divider
.divider
.ui.grid.container
  .sixteen.wide.mobile.column.text-center
  - unless @chats.present?
    = link_to "Inciar uma nova Conversa", new_chat_comment_path, class: 'ui button yellow fluid'
  - else
    = link_to "Inciar uma nova Conversa", new_chat_comment_path, class: 'ui button yellow fluid' if @chats.chat_closed?
.ui.grid.container
  .column
    - if @chats.present?
      %table.ui.celled.table
        %tbody.black
          - @chats.order('created_at DESC').each do |chat|
            %tr
              %td
                %h4.ui.image.header
                  - if chat.chat_comments.where(entity_read: false, entity: false).present?
                    %i.small.talk.icon.gray
                  - else
                    %i.small.talk.outline.icon.gray
                  .content
                    %a{href: "#{chat_path(chat)}"}
                      = "Conversa Nº:  #{chat.id}/#{chat.created_at.year}"
                      %br
                      #{chat.chat_category.name rescue nil}
                      %br
                      %small
                        Quantidade de interações: #{chat.chat_comments.count}
                      .sub.header
                        %small #{chat.created_at.strftime("%d/%m/%Y - %H:%M")}
:javascript
  $('.accordion')
    .accordion({
      selector: {
        trigger: '.title'
      }
    });
